body{
  background-color: #f88379;
}
.heading{
  margin:auto;
  width:50%;
  padding: 10px;
  font-size:70px;
  color:#ffffff;
  text-align: center;
}
body {margin:0}

.icon-bar {
    width: 90px;
    background-color: #555
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #c2c2a3;
}



* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #f88379;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 40%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ffffff;
    padding: 30px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}


/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    color: black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
